.goat {
  &.big {
    width: 100vw;
  }
}

// index.md

.goat.home {
  @include flex();
  background: $yellow;
  height: 100vh;
  a {
    // h,w are some what arbitrary
    width: 178px;
    height: 120px;
    border-bottom: solid 6px #fff;
    &:hover {
      border-bottom: solid 6px red;
    }
  }
  img {
    width: 70%;
  }
}
