<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <link type="text/css" rel="stylesheet" href="/pub/style.css"/>
  </head>
  <body>

    <h2 class="title">As of March 23, 2017 what senators follow each other on twitter?</h2>

    <div style="position:absolute;bottom:0;font-size:18px;">tension: <input style="position:relative;top:3px;" type="range" min="0" max="100" value="85"></div>
    <script type="text/javascript" src="/pub/d3.js"></script>
    <script type="text/javascript" src="/pub/lodash.js"></script>
    <script type="text/javascript" src="/pub/d3.layout.js"></script>
    <script type="text/javascript" src="/pub/packages.js"></script>
    <script type="text/javascript" src="/pub/senate.js"></script>
  </body>
</html>
