$contentPadding: 1rem;

footer {
	padding: 1rem;

	.device-emoji {
		font-size: 1.5rem;
		&:before {
			@include for-phone() {
				content: "📱";
			}
			@include for-tablet() {
				content: "no emoji for tablet";
				font-size: 0.6em;
			}
			@include for-desktop() {
				content: "🖥";
			}
		}
	}
}



body {
	// Keep footer always at thÎe bottom
	display: flex;
	min-height: 100vh;
	max-width: 100%;
	flex-direction: column;
	main {
		flex: 1;
	}
}
