

header {
	padding: 0rem 1rem;

	h1 {
		margin-bottom: 1rem;
	}

	nav.links {
		p {
			word-spacing: 2px;
			a {
				word-spacing: 0px;
			}
		}
	}
	nav.buttons {
		button {
			width: 70px;
			padding: 2px 0px;
			white-space: nowrap;
		}
		a {
			// link button

			background-color: lighten($silver, 3%);
			color: $black;

			text-decoration: none;
			word-spacing: normal;
			text-transform: none;
			text-indent: 0px;
			text-shadow: none;
			display: inline-block;
			align-items: flex-start;
			cursor: pointer;
			box-sizing: border-box;
			margin: 0em;
			font: 400 14px Inconsolata;
			line-height: 1.5em;
			padding: 1px 8px 0px 8px;
			letter-spacing: 0.04em;
			border-width: 2px;
			border-style: outset;
			border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));

			&::before {
				// content: "🙂";
				// font-size: 1.02em;
			}
			&:hover {
				&::before {
					// content: "😛";
				}
			}
			&:active {
				border-style: inset;
				&::before {
					// font-size: 1em;
					// content: "😝";
				}
			}
			&:visited {
				color: $black;
				border-top-color: lighten($silver, 15%);
				border-bottom-color: lighten($silver, 16%);

				border-left-color: lighten($silver, 15%);
				border-right-color: lighten($silver, 16%);

				border-style: outset;
			}
		}
		a:-webkit-any-link:active {
			color: #666;
		}
	}
}
