/*
    ==========================================
                  CUSTOM FONTS
    ==========================================  
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Helper Mixin to import local fonts */
@mixin load-font($name, $extension: '.ttf', $directory: '/assets/fonts/') {
    $path: $directory +$name +$extension;

    @font-face {
        font-family: $name;
        src: url($path) format('truetype');
    }
}

/* Import Local Fonts */
@include load-font(AbrilFatface-Regular);
@include load-font(AmericanTypewriter, '.ttc');
@include load-font(BungeeShade-Regular);
@include load-font(Monoton-Regular);
@include load-font(Phosphate, '.ttc');
@include load-font(PressStart2P-Regular);
@include load-font(Rockwell, '.ttc');
@include load-font(Silom);
@include load-font(terminal-grotesque);
@include load-font(VT323);

/* Font Names */


$grey: #ccc;
$gray: $grey;

$black: #000;
$white: #fff;


// Spacing 

$spacing-unit: 1rem;



$font-abril: 'AbrilFatface-Regular';
$typewriter: 'AmericanTypewriter';
$bungee: 'BungeeShade-Regular';
$monoton: 'Monoton-Regular';
$phosphate: 'Phosphate';
$pressstart: 'PressStart2P-Regular';
$rockwell: 'Rockwell';
$silom: 'Silom';
$terminal: 'terminal-grotesque';
$vt323: 'VT323';


.abril {
    font-family: 'AbrilFatface-Regular';
}

.typewriter {
    font-family: 'AmericanTypewriter';
}

.bungee {
    font-family: 'BungeeShade-Regular';
}

.monoton {
    font-family: 'Monoton-Regular';
}

.phosphate {
    font-family: 'Phosphate';
}

.pressstart {
    font-family: 'PressStart2P-Regular';
}

.rockwell {
    font-family: 'Rockwell';
}

.silom {
    font-family: 'Silom';
}

.terminal {
    font-family: 'terminal-grotesque';
}

.vt323, .VT323 {
    font-family: 'VT323';
}

// h1,
// h2,
// h3,
// h4,
// h5,
// li,
// p,
// td {
//     font-family: Verdana;
// }

// h1 {
//     font-weight: bold;
// }
// h2 {
//     @include fluid-type(22px, 40px);
// }
// h3 {
//     @include fluid-type(20px, 24px);
// }
// h4 {
//     @include fluid-type(16px, 20px);
// }
// p {
//     @include fluid-type(14px, 23px);
//     font-weight: 100;
//     line-height: 1.3em;
// }
// li {
//     @include fluid-type(13px, 23px);
// }

// /* Links */

// a {
//     text-decoration: none;
//     &:hover {
//         text-decoration: underline;
//     }
// }

// pre.highlight {
//     background: #dedede;
//     padding: 1em;
//     border: solid 1px #c1c1c1;

//     code {
//         font-family: monospace;
//         font-size: 1.2em;
//         line-height: 1.3em;
//     }
// }
// .caption {
//     @include fluid-type(10px, 12px);
// }
// .date {
//     font-family: monospace;
//     @include fluid-type(10px, 12px);
// }
// h1.post.title {
//     @include fluid-type(40px, 50px);
// }
// h1.article.title {
//     @include fluid-type(30px, 40px);
// }
// h1.photos.title {
//     @include fluid-type(50px, 80px);
// }
// h1.projects.title {
//     @include fluid-type(30px, 35px);
//     color: white;
//     text-shadow: 2px 0px 0px black, -2px 0px 0px black, 0px 2px 0px black,
//         0px -2px 0px black;
// }
// .center {
//     text-align: center;
// }


// Titles

header h1 {
	font-size: 2em;
}