.abril {
    font-family: 'AbrilFatface-Regular';
}
.typewriter {
    font-family: 'AmericanTypewriter';
}
.bungee {
    font-family: 'BungeeShade-Regular';
}
.monoton {
    font-family: 'Monoton-Regular';
}
.phosphate {
    font-family: 'Phosphate';
}
.pressstart {
    font-family: 'PressStart2P-Regular';
}
.rockwell {
    font-family: 'Rockwell';
}
.silom {
    font-family: 'Silom';
}
.terminal {
    font-family: 'terminal-grotesque';
}
.vt323 {
    font-family: 'VT323';
}

// h1,
// h2,
// h3,
// h4,
// h5,
// li,
// p,
// td {
//     font-family: Verdana;
// }

// h1 {
//     font-weight: bold;
// }
// h2 {
//     @include fluid-type(22px, 40px);
// }
// h3 {
//     @include fluid-type(20px, 24px);
// }
// h4 {
//     @include fluid-type(16px, 20px);
// }
// p {
//     @include fluid-type(14px, 23px);
//     font-weight: 100;
//     line-height: 1.3em;
// }
// li {
//     @include fluid-type(13px, 23px);
// }

// /* Links */

// a {
//     text-decoration: none;
//     &:hover {
//         text-decoration: underline;
//     }
// }

// pre.highlight {
//     background: #dedede;
//     padding: 1em;
//     border: solid 1px #c1c1c1;

//     code {
//         font-family: monospace;
//         font-size: 1.2em;
//         line-height: 1.3em;
//     }
// }
// .caption {
//     @include fluid-type(10px, 12px);
// }
// .date {
//     font-family: monospace;
//     @include fluid-type(10px, 12px);
// }
// h1.post.title {
//     @include fluid-type(40px, 50px);
// }
// h1.article.title {
//     @include fluid-type(30px, 40px);
// }
// h1.photos.title {
//     @include fluid-type(50px, 80px);
// }
// h1.projects.title {
//     @include fluid-type(30px, 35px);
//     color: white;
//     text-shadow: 2px 0px 0px black, -2px 0px 0px black, 0px 2px 0px black,
//         0px -2px 0px black;
// }
// .center {
//     text-align: center;
// }
