// ADDS A BROWSER PREFIX TO THE PROPERTY (star of the show)
@mixin css3-prefix($property, $value) {
	-webkit-#{$property}: #{$value};
	-khtml-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}

@mixin backface-visibility($visibility: hidden) {
	backface-visibility: $visibility;
	-webkit-backface-visibility: $visibility;
	-moz-backface-visibility: $visibility;
	-ms-backface-visibility: $visibility;
	-o-backface-visibility: $visibility;
}

@mixin transition($time) {
	transition: $time;
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
}

@mixin transform($transformation) {
	transform: $transformation;
	-webkit-transform: $transformation;
	-moz-transform: $transformation;
	-ms-transform: $transformation;
	-o-transform: $transformation;
}

@mixin transform-style($style) {
	transform-style: $style;
	-moz-transform-style: $style;
	-o-transform-style: $style;
	-ms-transform-style: $style;
	-webkit-transform-style: $style;
}

@mixin transform-origin($style) {
	transform-origin: $style;
	-moz-transform-origin: $style;
	-o-transform-origin: $style;
	-ms-transform-origin: $style;
	-webkit-transform-origin: $style;
}
