header.navigation {
  @include flex(space-between, inherit);
  height: $nav-height;
  border-bottom: solid 5px $charcoal;

  .logo {
    border-bottom-width: 0px;
    width: 50px;
    height: 33px;
    img {
      width: 75%;
    }
  }

  .left {
    @include flex(space-between, flex-end);
    margin-left: $site-padding;
  }
  .right {
    @include flex(center, center);
    margin-right: $site-padding;
  }
}

nav a {
  @include serif;
  margin: 0 20px;
  color: $charcoal;
}
