
.post {
    article {
      @include flex(center,center,column);
      width: 100%;
      margin-top: 50px;
      section {
        @include flex(flex-start,flex-start,column);
        padding: 40px 20px 40px 20px;
        background: white;
        max-width: 700px;
        border: solid 1px #ccc;
        border-radius: 5px;
        box-shadow: 3px 4px 15px 1px #69696952;
        margin-bottom: 100px;
        
        header {
          h1 {
            font-size: 2.1em;
            margin: 5px 0 30px 0;
          }
          p.post-meta {
            margin: 0;
            font-size: 0.9em;
          }
        }
        img {
          max-width: 100%;
        }
        p{
          margin-bottom:40px;
        }
      }
    }
}
