
.post {

  header {
    padding: 20px 0 20px 0;
    h1 {
      // @include serif;
      font-size: 2.1em;
      margin-bottom: 5px;
    }
    p.post-meta {
      margin: 0 0 10px 0;
      font-size: 0.9em;
    }

  }



    article {
      @include flex(center,center,column);
      width: 100%;
      margin-top: 50px;

      section {
        @include flex(flex-start,center,column);
        padding: 20px 20px;
        background: white;
        max-width: 700px;
        border: solid 1px #ccc;
        border-radius: 5px;
        box-shadow: 3px 4px 15px 1px #69696952;
        img {
          max-width: 100%;
        }
        h1, h2 {
          @include serif;
        }
        p {
          @include sans-serif;
          font-weight: 300;
          font-size: 19px;
          line-height: 28px;
        }
      }
    }




}
