.goat.home {
  @include flex();
  background: $yellow;
  height: 100vh;
  a {
    // h,w are some what arbitrary
    width: 182px;
    height: 116px;
    border-bottom: solid 6px #fff;
  }
  img {
    width: 70%;
  }
}
