.blog {
  li {
    @include flex(flex-start,center,row);
    list-style: none;
    border-bottom: solid 1px #ffffff0a;
    a {
      @include flex(flex-start, center);
      width: 100%;
      padding: 10px 0;
    }
  }
}

// Small screens
@media screen and (max-width: 500px){

  .blog {
    li {
      a {
        font-size: calc(2vh + 1.5vw);
        padding: 7px 0;
        .post-meta {
          display: none;
        }
      }
    }
  }
}
