@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Import Helper */
@mixin load-font($name, $extension: '.ttf', $directory: '/assets/fonts/') {
    $path: $directory + $name + $extension;

    @font-face {
        font-family: $name;
        src: url($path) format('truetype');
    }
}

/* Import Local Fonts */
@include load-font(AbrilFatface-Regular);
@include load-font(AmericanTypewriter, '.ttc');
@include load-font(BungeeShade-Regular);
@include load-font(Monoton-Regular);
@include load-font(Phosphate, '.ttc');
@include load-font(PressStart2P-Regular);
@include load-font(Rockwell, '.ttc');
@include load-font(Silom);
@include load-font(terminal-grotesque);
@include load-font(VT323);

.abril {
    font-family: 'AbrilFatface-Regular';
}
.typewriter {
    font-family: 'AmericanTypewriter';
}
.bungee {
    font-family: 'BungeeShade-Regular';
}
.monoton {
    font-family: 'Monoton-Regular';
}
.phosphate {
    font-family: 'Phosphate';
}
.pressstart {
    font-family: 'PressStart2P-Regular';
}
.rockwell {
    font-family: 'Rockwell';
}
.silom {
    font-family: 'Silom';
}
.terminal {
    font-family: 'terminal-grotesque';
}
.vt323 {
    font-family: 'VT323';
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:focus {
    outline: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

.zero-margin {
    margin: 0;
}
.hidden {
    visibility: hidden;
}
.flex-row {
    display: flex;
}

$contentPadding: 1em;
$verticalPadding: 2vh;

$background-color: #eeeeee;

$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

body {
    background-color: $background-color;
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    flex-direction: column;
    > header {
        padding-left: $contentPadding;
    }
}

/* Navigation Layout */

header nav {
    display: flex;
    margin-top: 1px;
    margin-bottom: 4px;
    padding: 10px 0;
    a {
        margin: 0 8px;
        text-decoration: none;
        @extend .emoji--button;
        &.active {
            @extend .pressed;
        }
    }
}

/* Content Layout */

main.content {
    flex: 1;
    padding: 0 $contentPadding;

    a {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .page-layout {
        max-width: 800px;
    }

    &.article {
        p {
            img {
                @extend .material-shadow;
                max-width: 600px;
            }
        }
    }
}

/* Footer Layout */

footer {
    padding: 0 $contentPadding;
}

ul {
    li {
        margin: 5px 0;
    }

    @include for-phone() {
        padding-left: 20px;
        li::marker {
            font-size: 0.8em;
        }
    }
}

.page.content p,
.post.content p {
    max-width: 1000px;
}

img + .caption {
    margin-top: 4px;
    color: rgb(53, 53, 53);
}

/* Line Breaks */

hr {
    margin: 0;
}
main.content hr {
    margin: $verticalPadding 0;
}
footer hr {
    margin: $verticalPadding 0;
}

.photo-blog {
    margin-bottom: 0;
    img {
        @extend .photo-shadow;
        border: solid 5px #eeeeee;
        border-bottom-width: 20px;
    }
}

.photo-blog-caption {
    font-size: 9px;
    margin: 0;
    border: solid 1px;
    text-align: right;
    margin-top: -20px;
    padding-right: 10px;
    color: #696969;
    font-family: monospace;
}

main.article {
    ul,
    li,
    p {
        margin: 8px 0;
    }
}

h1,
h2,
h3,
h4,
h5,
li,
p,
td {
    font-family: Verdana;
}

h1 {
    font-weight: bold;
}
h2 {
    @include fluid-type(22px, 40px);
}
h3 {
    @include fluid-type(20px, 24px);
}
h4 {
    @include fluid-type(16px, 20px);
}
p {
    @include fluid-type(14px, 23px);
    font-weight: 100;
    line-height: 1.3em;
}
li {
    @include fluid-type(13px, 23px);
}

/* Links */

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

pre.highlight {
    background: #dedede;
    padding: 1em;
    border: solid 1px #c1c1c1;

    code {
        font-family: monospace;
        font-size: 1.2em;
        line-height: 1.3em;
    }
}
.caption {
    @include fluid-type(10px, 12px);
}
.date {
    font-family: monospace;
    @include fluid-type(10px, 12px);
}
h1.post.title {
    @include fluid-type(40px, 50px);
}
h1.article.title {
    @include fluid-type(30px, 40px);
}
h1.photos.title {
    @include fluid-type(50px, 80px);
}
h1.projects.title {
    @include fluid-type(30px, 35px);
    color: white;
    text-shadow: 2px 0px 0px black, -2px 0px 0px black, 0px 2px 0px black,
        0px -2px 0px black;
}
.center {
    text-align: center;
}
