
h2,h3,h4,h5,p,ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $work-font;
  color: $charcoal;
  font-weight: 600;
}

h4 {
  font-weight: 300;
}

p {
  font-family: $text-font;
  font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42105;
    color: #000000bf;
}


// Links

a {
  @include sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: $charcoal;
  border-bottom: solid 3px white;
  line-height: 1.5em;
  &:hover {
    font-weight: 500;
  }
  &:visited {
    // TODO ---> Do something interesting with this
    // color: #ff1043;
    // border-bottom: solid 4px red;
  }
}




.post-meta {
  @include meta;
  font-weight: 200;
}
