{% if page.category == 'projects' %}

<header>
  <nav>
    <div>
      <a href="/projects">Projects</a>
    </div>
    <div>
      <a href="/life">Life</a>
      <a href="/love">Love</a>
      <a href="/words">Words</a>
    </div>
  </nav>
</header>

{% endif %}


{% if page.name == 'love' %}

<header>
  <nav>
    <div>
      <a href="/love">Things I love</a>
    </div>
    <div>
      <a href="/make">Make</a>
      <a href="/life">Life</a>
      <a href="/words">Words</a>
    </div>
  </nav>
</header>

{% endif %}
