<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="post-meta">
          {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          {% if site.tag_pages contains tag_name %}
          <a href="/{{ tag_name }}">
            <span>#{{ tag_name }}</span>
          </a>
          {% else %}
          <span>#{{ tag_name }}</span>
          {% endif %}

          {% endfor %}
        </p>
        <!-- <h1 class='funky'><a class="u-email" href="/me">@</a></h1> -->
      </div>

      <div class="footer-col footer-col-2">


      </div>


    </div>

  </div>




</footer>


<!-- • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">Kevando</span></span> -->
