<!-- Feet -->
<hr />



<nav style="display:flex;justify-content: space-around;">

    <a class="{%- if page.url=="/" -%}active{%- endif -%}"" href="/"><span>🌐</span></a>
    <a class="{%- if page.url=="/me" -%}active{%- endif -%}"" href="/me"><span>🙂</span></a>
    <a class="{%- if page.url=="/frameri" -%}active{%- endif -%}"" href="/frameri"><span>👓</span></a>
    <a class="{%- if page.url=="/lit" -%}active{%- endif -%}"" href="/lit"><span>🔥</span></a>
    <a class="{%- if page.url=="/writing" -%}active{%- endif -%}" href="/writing"><span>✍️</span></a>
    <a class="{%- if page.url=="/writing" -%}active{%- endif -%}" href="/writing"><span>📸</span></a>
    <a class="{%- if page.url=="/writing" -%}active{%- endif -%}" href="/writing"><span>🔨</span></a>
    <a class="{%- if page.url=="/writing" -%}active{%- endif -%}" href="/writing"><span>😛</span></a>
</nav>

<hr />


<!--  -->