<h1>Kevin's Website</h1>

<nav class="links">
	<p class="navigation links">
		[
		<a href="/new.html">What's New?</a> |
		<a href="/cool.html">What's Cool?</a> |
		<a href="/popular.html">What's Popular?</a> 
		]
	</p>
</nav>

<nav class="buttons">
	<a target="_blank" href="https://www.instagram.com/kevando?utm_source=R2D2">📸 Instagram</a>
	<a target="_blank" href="https://lensstudio.snapchat.com/creator/Mpx2Ow0xd7dWLQp62cK0Jg">👻 Snapchat</a>
	<a target="_blank" href="https://twitter.com/kevando_?utm_source=R2D2">🕊 Twitter</a>
	<a id="EmailLink" href="javascript:void(0)">✉️ Electronic Mail</a>
</nav>

<script> 
	document.getElementById("EmailLink").addEventListener("click", function() {
		if (confirm("Open your email client?") == true) {
			window.open('mailto:khabich@gmail.com?&subject=Hi&body=I am on your website and there is something I need to tell you', '_self');
		}
	})
</script>