<header>

	<h1><a class="logo" href="/">{{ page.header_logo | default: "kevin!" }}</a><span class="emoji">{{ page.emoji }}</span>{{ page.header_title | default: page.title }}</h1>

	<nav class="links">
		<p class="navigation links">
			[
			<a href="/new.html">What's New?</a> |
			<a href="/cool">What's Cool?</a> |
			<a href="/popular">What's Popular?</a> 
			<!-- <a href="#">Stats</a> | -->
			<!-- <a href="/random">A Random Link</a> -->
			]
		</p>
	</nav>

	<nav class="buttons">

		<!-- <a href="/hot.html">🔥 Hot</a> -->
		<a href="/photos.html">📸 Life</a>
		<a href="/lenses.html">👻 Lenses</a>
		<a href="mailto:khabich@gmail.com">✉️ e-mail</a>
		<!-- <a href="/photos.html">🌐 World</a> -->
		<a href="/help.html">🤕 Help</a>
		<a class="bio" href="/bio.html">Bio</a>
	</nav>

</header>