{% assign cachedz = site.time | date: '%M%S' %}

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/assets/icons/{{ page.favicon }}" />

	<!-- Title -->
	<title>{{ page.title }}</title>
	<meta property="og:title" content="{{ page.og.title | default: page.title }}" />
	<meta name="twitter:title" content="{{ page.twitter.title | default: page.title }}" />

	<!-- Description -->
	<meta name="description" content="{{ page.description }}" />
	<meta property="og:description" content="{{ page.og.description | default: page.description }}" />
	<meta name="twitter:description" content="{{ page.twitter.description | default: page.description }}" />

	<!-- Preview Image -->
	<meta property="og:image" content="{{site.url }}/{{ page.og.image }}" />
	<meta name="twitter:card" content="{{ page.twitter.card }}" />
	<meta name="twitter:image" content="{{site.url }}/{{ page.twitter.image }}" />

	<!-- Other Crap -->
	<meta property="og:url" content="{{ siteurl }}{{ page.url }}" />
	<meta property="og:type" content="{{ page.og.type }}" />

	<!-- Scripts that need to lead first -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Styles -->
	<link rel="stylesheet" href="/assets/stylesheets/app.css?cachedz={{ cachedz }}" />	

	{%- include analytics.html -%}
</head>