{% assign cachedz = site.time | date: '%M%S' %}

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SEO and Preview -->
	<title>{{ page.title }}</title>
	<link rel="icon" type="image/png" href="/assets/icons/{{ page.favicon }}" />
	<meta name="description" content="{{ page.meta_description }}">

	<!-- CSS and the greatest programming language in the world -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/assets/stylesheets/main.css?cachedz={{ cachedz }}">

	{%- include google-analytics.html -%}
</head>