<header>

	<h1><a class="logo" href="/">{{ page.header_logo | default: "kevin" }}</a>&nbsp;-&nbsp;&nbsp;{{ page.header_title | default: page.title }}</h1>

	<nav class="links">
		<p class="navigation links">
			[
			<a href="/new.html">What's New?</a> |
			<a href="/cool">What's Cool?</a> |
			<a href="/popular">What's Popular?</a> 
			<!-- <a href="#">Stats</a> | -->
			<!-- <a href="/random">A Random Link</a> -->
			]
		</p>
	</nav>

	<nav class="buttons">
		<button>🔥 Top</button>
		<a href="/photos.html">📸</a>
		<button>👓 Search</button>
		<button>🌐 Mail</button>
		<a class="bio" href="/bio.html">Bio</a>
		<button>🔨 Help</button>

		
	</nav>

</header>