{% assign cachedz = site.time | date: '%M%S' %}

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/assets/stylesheets/app.css?cachedz={{ cachedz }}" />

	{%- include head/favicon.html -%}
	{%- include head/twitter.html -%}
	{%- include head/facebook.html -%}
	{%- include head/analytics.html -%}
</head>