

<span class="navigation" style="font-size:2em;margin:1em 0 0.3em 0">

    <!-- <a href="/">🌐</a> -->
    <!-- <a href="/me">🙂</a> -->
    <!-- <a href="/frameri">👓</a> -->

    <!-- <span class="tooltip wrapper"><a href="/me">🙂</a><span class="tooltip content">About Me</span></span> -->
</span>


<!-- <a href="/projects" {% if page.permalink == "/projects" %}class="active"{% endif %}>projects</a>,  -->

<!-- <a href="/blog" {% if page.permalink == "/blog" %}class="active"{% endif %}>blog</a> -->

<!-- <hr /> -->

