<!-- delete me -->

<header>
	<h1>Kevin!</h1>
	<!-- <nav class="links">
		<p class="navigation links">
			[
			<a href="/new.html">What's New?</a> |
			<a href="/cool.html">What's Cool?</a> |
			<a href="/popular.html">What's Popular?</a>
			]
		</p>
	</nav> -->
	<nav class="buttons">
		<a target="_blank" href="https://www.instagram.com/kevando?utm_source=R2D2">Instagram</a>
		<a target="_blank" href="https://lensstudio.snapchat.com/creator/Mpx2Ow0xd7dWLQp62cK0Jg">Snapchat</a>
		<a target="_blank" href="https://twitter.com/kevando_?utm_source=R2D2">Twitter</a>
		<a target="_blank" href="https://github.com/kevando?utm_source=R2D2">Github</a>
		<a target="_blank" href="https://www.quora.com/profile/Kevando?utm_source=R2D2">Quora</a>
		<a target="_blank" href="https://www.youtube.com/user/kevinhabich/playlists?utm_source=R2D2">Youtube</a>
		<!-- <a id="EmailLink" href="javascript:void(0)">E-Mail</a> -->
	</nav>
</header>