$contentPadding: 1em;
$verticalPadding: 2vh;

$background-color: #eeeeee;

$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

body {
    background-color: $background-color;
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    flex-direction: column;
    > header {
        padding-left: $contentPadding;
    }
}

/* Navigation Layout */

header nav {
    display: flex;
    margin-top: 1px;
    margin-bottom: 4px;
    padding: 10px 0;
    a {
        margin: 0 8px;
        text-decoration: none;
        @extend .emoji--button;
        &.active {
            @extend .pressed;
        }
    }
}

/* Content Layout */

main.content {
    flex: 1;
    padding: 0 $contentPadding;

    a {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .page-layout {
        max-width: 800px;
    }

    &.article {
        p {
            img {
                @extend .material-shadow;
                max-width: 600px;
            }
        }
    }
}

/* Footer Layout */

footer {
    padding: 0 $contentPadding;
}

ul {
    li {
        margin: 5px 0;
    }

    @include for-phone() {
        padding-left: 20px;
        li::marker {
            font-size: 0.8em;
        }
    }
}

.page.content p,
.post.content p {
    max-width: 1000px;
}

img + .caption {
    margin-top: 4px;
    color: rgb(53, 53, 53);
}

/* Line Breaks */

hr {
    margin: 0;
}
main.content hr {
    margin: $verticalPadding 0;
}
footer hr {
    margin: $verticalPadding 0;
}

.photo-blog {
    margin-bottom: 0;
    img {
        @extend .photo-shadow;
        border: solid 5px #eeeeee;
        border-bottom-width: 20px;
    }
}

.photo-blog-caption {
    font-size: 9px;
    margin: 0;
    border: solid 1px;
    text-align: right;
    margin-top: -20px;
    padding-right: 10px;
    color: #696969;
    font-family: monospace;
}

main.article {
    ul,
    li,
    p {
        margin: 8px 0;
    }
}
