.simple.layout {
	height: 100%;
	overflow: auto;

	> * {
		margin-left: 2vw;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.post.layout {
	max-width: 1400px;
	h1 {
		font-family: $silom;
	}
	p {
		font-family: Verdana;
	}

	img {
		max-width: 900px;
	}
}

// ----------------------------
// 	       Blog Layout
// ----------------------------

$footer-height-min: 50px;

body.blog {
	$min_width: 320px;
	$max_width: 1200px;
	$min_font: 18px;
	$max_font: 22px;

	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	@include sticky-footer(100px);

	.content {
		margin: 40px 20px 0 20px;
	}
	.footer {
		font-size: 0.7em;
		padding-left: 20px;
	}

	.date {
		color: #888;
		font-size: 0.8em;
		font-family: Avenir;
		margin-bottom: -23px;
	}

	a.home {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}

// ----------------------------
// 	       Hi Layout
// ----------------------------

body.hi {
	ul {
		float: right;
		width: 30vw;
		list-style: none;
		line-height: 2em;
	}
}