$contentPadding: 1em;

$background-color: #eeeeee;

$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	> header {
		padding-left: $contentPadding;
	}
}

main.content {
	flex: 1;
	padding: $contentPadding;
}

// --------- COLORS ---------

body {
	background-color: $background-color;
}

// --------- TEXT ---------

h3 {
	font-weight: 100;
}
