.simple.layout {
	height: 100%;
	overflow: auto;
	
	> * {
		margin-left: 2vw;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.post.layout {
	max-width: 1400px;
	h1 {
		font-family: $silom;
	}
	p {
		font-family: Verdana;
	}
	.date {
		color: #888;
		font-size: 0.8em;
	}
	img {
		max-width: 900px;
	}
}