@import 'fonts';

* {
    font-family: Verdana;
}

h1 {
    font-weight: bold;
}
h2 {
    @include fluid-type(30px, 40px);
}
p {
    @include fluid-type(13px, 23px);
    font-weight: 100;
    line-height: 1.3em;
}
li {
    @include fluid-type(13px, 23px);
}
a {
    text-decoration: none;
    &:hover,
    &.active {
        text-decoration: underline;
    }
}
code {
    font-family: monospace;
    font-size: 0.7em;
}
.caption {
    @include fluid-type(10px, 12px);
}
.date {
    font-family: monospace;
    @include fluid-type(10px, 12px);
}
h1.page.title {
    @include fluid-type(40px, 60px);
}
h2.page.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.03em;
    @include fluid-type(24px, 34px);
}
