$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 28px;

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}
h1 {
	font-family: $silom;
}

hr {
	margin: 10px 0;
}
p {
	font-weight: 100;
	line-height: 1.3em;
}

li {
	margin: 5px 0;
	font-family: Verdana;
	@include fluid-type($min_width, $max_width, 18px, 22px);
	.date {
		font-size: 0.8em;
	}
}

pre {
	code {
		display: block;
		padding: 1rem;
		margin: 1rem;
		font-family: Courier New;
		background: #ddd;
		overflow: scroll;
		max-width: 90vw;
	}
}
code {
	padding: 3px;
	font-family: Courier New;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.simple.layout {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}
