

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}
h1 {

}

hr {
	margin: 10px 0;
}
p {
	font-weight: 100;
}

li {
	font-size: 17px;
	margin: 5px 0;
}

code {
	display: block;
	padding: 1rem;
	margin: 1rem;
	font-family: Courier New;
	background: #ddd;
}


