
@import "mixins/fluid-type";
@import "mixins/media-queries";

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  margin-bottom: -10px;
}

hr {
  margin: 10px 0;
}
p {
 font-size: 17px;
}

li {
  font-size: 17px;
  margin: 5px 0;
}