// ------------------

$blue: #090282;
$header-height: 80px;

body {
  margin: 0;
}

h1,h2,h3,p {
  font-family: Arial;
}
h2 {
  font-size: 1.3em;
}



// ----- LAYOUT ------

.header {
  background-color: $blue;
  height: $header-height;
  padding: 0 20px;
  h1 {
    float: left;
    font-size: 70px;
    margin: 0;
    color: yellow;
  }
  h2 {
    margin: 0;
    float: left;
    font-size: 32px;
    margin-top: 20px;
    color: white;
    margin-left: 55px;
    font-family: Baskerville;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

.content {
  padding: 0 20px;
}

.section {
  display: flex;

  .news.item {
    width: 33%;
    color: black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin: 20px 0;
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 5px
    }
    img {
      max-width: 100%;
    }

  }
  .video.item {
    width: 40%;
    // border: solid 1px red;
    min-height: 700px;
  }
}

.main.section {
  .news.item {
    font-size: 1.7em;
    width: 50%;
    max-height: 400px;
  }
}

#MostWanted {
  background-color: #e6e6e6;
  border: solid 10px black;
}

.advertisement {
  background: yellow;
  padding: 10px 30px;
  
}


.main-section {
  height: $header-height;
  position: relative;
  background: green;

  h3 {
    position: absolute;
    background-color: red;
    color: yellow;
    font-family: Arial;
    padding: 0.3rem 1rem;
    font-size: 2rem;
    right: 5rem;

  }
  .video-wrapper {
    border: solid 5px red;
    height: 100%;
    position: absolute;
    right: 0;
    // width: 400px;

  }


}
.footer {
  background-color: red;
  margin-top: 50px;

  p {
    margin: 0;
    padding:40px 0;
    font-size: 1.2em;
    text-align: center;
    button {
       background: blue;
       font-size: 30px;
       margin-left: 140px;
       color: yellow;

    }
  }
}