// ------------------

$blue: #090282;
$header-height: 80px;

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  font-family: Arial;
}
h2 {
  font-size: 1.3em;
}

// ----- LAYOUT ------

.header {
  background-color: $blue;
  height: $header-height;
  padding: 0 20px;
  h1 {
    float: left;
    font-size: 70px;
    margin: 0;
    color: yellow;
  }
  h2 {
    margin: 0;
    float: left;
    font-size: 32px;
    margin-top: 20px;
    color: white;
    margin-left: 55px;
    font-family: Baskerville;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

.content {
  padding: 0 20px;
}

.section {
  display: flex;

  .news.item {
    width: 33%;
    color: black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin: 0 20px 0 0;
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 5px;
    }
    img {
      max-width: 100%;
    }
  }
  .video.item {
    width: 40%;
    position: relative;
    min-height: 700px;

    video {
      border: solid 10px $blue;
      float: right;
      // position: absolute;
      // right: 0;
    }
    // img {
    //   z-index: 9;
    // }
    // video {
    //   z-index: 10;
    // }
    p {
      background: red;
      color: yellow;
      position: absolute;
      right: 10px;
      bottom: 40px;
      font-size: 35px;
      padding: 5px 10px;
      font-weight: bold;
      z-index: 10;
    }
  }
}



#MostWanted {
  background-color: #e6e6e6;
  background-image: url("/assets/ifam/wanted.jpg");
  border: solid 10px black;
  color: white;
  font-size: 1.7em;
  width: 50%;
  max-height: 500px;
  p {
    margin-bottom: 0;
  }
}

.advertisement {
  background: #9d00ff;
  padding: 10px 30px;
}

.footer {
  background-color: red;
  margin-top: 50px;

  p {
    margin: 0;
    padding: 40px 0;
    font-size: 1.2em;
    text-align: center;
    button {
      background: blue;
      font-size: 30px;
      margin-left: 140px;
      color: yellow;
    }
  }
}
