body {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    overflow: hidden;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/168886/vector-landscape.jpg)
      center center no-repeat;
    background-size: cover;
  }
  #video {
    display: none;
  }
  #container {
    pointer-events: none;
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vh;
    height: 100vh;
    transform: translateX(-50%);
  }
  #demo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .editable-text {
    position: relative;
    padding: 0.5em 1em;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8vh;
    font-weight: 300;
    letter-spacing: 0.07em;
    color: #fff;
    text-align: center;
    text-shadow: 2px 5px 20px rgba(#000000, 0.6);
  }
  .editable-text.text-behind {
    z-index: 1;
  }
  .editable-text.text-front {
    z-index: 10;
  }
  
  #info,
  #controls {
    z-index: 100;
    position: absolute;
    width: 100%;
    padding: 5px;
    background: rgba(#000, 0.4);
  }
  #info {
    top: 0;
  }
  #controls {
    bottom: 0;
  }
  a {
    color: #ffffff;
    transition: 150ms all;
  }
  a:hover,
  a:focus {
    color: #ffc107;
  }
  


  #logger {
    background-color: white;
z-index: 999;
position: absolute;
bottom: 30px;
width: 98%;
border: solid 1px #ccc;
text-align: center;
font-family: Verdana;
font-size: 20px;
padding: 5px 0;
color: black
  }