@import url("https://fonts.googleapis.com/css?family=Arvo|Work+Sans:200,300,400,500,700|Londrina+Shadow|Inconsolata:400,700|Homemade+Apple|Fugaz+One|Monoton|Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

// ---------------------------
//         Fonts
// ---------------------------

$arvo-font: "Arvo", serif;
$work-font: "Work Sans", sans-serif;
$text-font: "Inconsolata", "sans-serif";
$shadow-font: "Londrina Shadow", cursive;
$cursive-font: "Homemade Apple", cursive;
$pattern-font: "Monoton", cursive;
$vapor-font: "Fugaz One", cursive;
$lato-font: "Lato", sans-serif;

// ---------------------------
//         Colors
// ---------------------------

$white: #fbfef2;
$yellow: #ffcd00;
$dark-blue: #3f51b4;
$purple: #cbcbff;
$red: #ff003d;
$blue: #0d3762;
$green: #00cbd7;
$orange: #ff7000;

// Darks
$black: #0a0a0a;
$charcoal: #232323;
$meta-gray: #292929;
$border-color: #dddddd;

// ---------------------------
//      Heights & Widths
// ---------------------------

$nav-height: 60px;
$main-height: 95vh;
$footer-height: 5vh;

// ---------------------------
//         Spacing
// ---------------------------

$site-padding: 20px;
$content-margin: 20px;

// ---------------------------
//         Borders
// ---------------------------

$link-border-size: 0.3em;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default;
