.goat {
  &.big {
    width: 100vw;
  }
}

.goat.home {
  @include flex();
  background: $yellow;
  height: 90vh;
  a {
    // h,w are some what arbitrary
    width: 178px;
    height: 120px;
    border-bottom: solid 6px #fff;
  }
  img {
    width: 70%;
  }
}
