html {
  &.default {
    background: $purple;
    body {
      background: $purple;
    }
  }
  &.empty {
    background: $white;
    body {
      background: $white;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove weird border from focus elements
:focus {
  outline: none;
}

::selection {
  background: $red; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $red; /* Gecko Browsers */
}

* {
  -webkit-tap-highlight-color: #3f51b403 !important;
}
