@import "components/shadows";

.shadow-firey-yellow {
	text-shadow: 1px -6px 6px yellow;
}
.retro-title {
	color: yellow;
	font-weight: 900;
	text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px 2px rgba(0, 0, 0, 0.921);
	@extend .pressstart;
}
$min_width: 700px;
$max_width: 1400px;
$min_font: 18px;
$max_font: 30px;

body.pillars-of-improv {
	.full-background-image {
		background: url(/assets/images/pillars/main.jpg);
		height: 100vh;
		width: 100vw;
		background-repeat: no-repeat;
		background-size: cover;

		@include for-phone() {
			height: 100vh;
			width: 100vw;
			background: url(/assets/images/pillars/yellow-monster.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position-x: -280px;
		}
	}
	.text {
		display: none;
		@include for-phone() {
			display: block;
			color: yellow;
			font-size: 2em;
			font-family: "Times New Roman", Times, serif;
			opacity: 0.8;
			padding: 3vh 0 0 2vh;
		}
	}
	footer {
		display: none;
	}
}
