body.spotify {
	table {
		border: solid 1px black;
		margin-left: 1rem;
		td {
			border: solid 1px black;
			min-width: 110px;
			max-width: 200px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.loading {
	display: inline-block;
	width: 60px;
	height: 100px;
	line-height: 100px;
	// border:solid 1px black;
	text-align: center;
	margin-left: 0px;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 1s linear infinite;
}
.pause {
	animation-fill-mode: forwards;
}
.paused {
	animation-play-state: paused;
}
@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.text-shadow {
	text-shadow: 
	-1px 0px rgba(0, 0, 0, 0.2), 
	0px -1px rgba(0, 0, 0, 0.3), 
	1px 1px 1px #000, 
	2px 2px 1px #000, 
	3px 3px 1px #000, 
	4px 4px 1px #000, 
	4px 2px #000, 
	5px 5px #000, 
	3px 3px 1px #000;
}

body.spotify-download {
	main {
		padding: 2rem;
	}

	h1 {
		font-size: 3rem;
		letter-spacing: 0.1em;
		margin-left: -6px;
		margin-bottom: 10px;
		color: yellow;
		font-weight: 900;
		font-family: sans-serif;
		@extend .text-shadow;
	
	}

	h2 {
		font-size: 1.8em;
		margin-bottom: 0;
	}

}
