$grey: #ccc;
$gray: $grey;

$black: #000;
$white: #fff;


$silver: #c0c0c0;


// 

$color-bg: $silver;

// Spacing 

$spacing-unit: 1rem;



$font-abril: 'AbrilFatface-Regular';
$typewriter: 'AmericanTypewriter';
$bungee: 'BungeeShade-Regular';
$monoton: 'Monoton-Regular';
$phosphate: 'Phosphate';
$pressstart: 'PressStart2P-Regular';
$rockwell: 'Rockwell';
$silom: 'Silom';
$terminal: 'terminal-grotesque';
$vt323: 'VT323';
