
/* --------------------------- */
/*          Global             */
/* --------------------------- */

body {
  font: 400 16px/1.5 'Roboto', sans-serif;
  /* For some reason I really like this
  background: linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%); */
  background: #FFF000;
}

/* --------------------------- */
/*          Text               */
/* --------------------------- */

h1, .post-content h1 {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 1em;
}
h2, .post-content h2 {
  font-size: 2.1em;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 1em;
}
h3, .post-content h3 {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin-bottom: 0em;
}

h6, .post-content h6 {
  color: #505050;
  font-size: 0.8em;
  font-weight: 400;
}

/* --------------------------- */
/*          Links             */
/* --------------------------- */

a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #9125d0;
}
a:hover {
  text-decoration: none;
  color: #1d467b;
}

/* --------------------------- */
/*         Code                */
/* --------------------------- */

pre {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px 30px;
  background: #e5e5e5;
  outline: none;
  margin: 30px 0;
}
pre.wide {
  width: calc(100% + 200px  - 60px);
  margin-left: -100px;
}

/* --------------------------- */
/*           Wrappers          */
/* --------------------------- */

.wrapper {
  max-width: -webkit-calc(760px - (30px * 2));
  max-width: calc(760px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

header.site-header,
main.page-content,
footer.site-footer  {
  background: white;
}

nav.forced {
  background: red;
  float: right;
  line-height: 54px;
}

/* --------------------------- */
/*           Post              */
/* --------------------------- */

p.post-meta {
  margin: 0;
}
.post-media {
  margin-bottom: 20px;
}


/* --------------------------- */
/*         Post List           */
/* --------------------------- */

.post-list > li {
  margin-bottom: 20px;
}
.post-list > li h3 {
  margin-top: -6px;
}
.post-list > li a span {
  color: #333333;
  padding: 1px 0px 1px 0px;
}

.post-list > li a span:hover{
  background: #FFF000;
}

.post-list > li h6 {
  margin-bottom: 0px;
}


/* --------------------------- */
/*           Footer            */
/* --------------------------- */

.footer-col-1 {
  width: -webkit-calc(70% - (30px / 2));
  width: calc(70% - (30px / 2));
}

footer .post-meta {
  font-size: 1.2em;
  color: #b5b5b5;
  font-weight: 300;
  letter-spacing: 0.1em;
}
footer .post-meta span {
  margin-right:  10px;
}

footer.category {
  background: #FFF000;
}


/* Funky Styles */
.bumble {
  background: #FFF000;
  padding: 1px 4px 1px 3px;
  color: #333333;
}

/* --------------------------- */
/*           Mobile            */
/* --------------------------- */

@media screen and (max-width: 600px) {

}
