
/* ---------------------------------- */
/*               Global               */
/* ---------------------------------- */

body {
  font: 400 16px/1.5 'Roboto', sans-serif;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 1em;
}


h2 {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin-bottom: 0em;
}


/* ? */
h4 {}

/* ? */
h5 {}

/* ? */
h6 {
  color: #505050;
  font-size: 0.8em;
  font-weight: 400;
}

p {
  /* font-family: 'Roboto', sans-serif; */
  /* font-size: 1.5em; */
  /* font-weight: 700; */
  /* letter-spacing: 0.03em; */
  /* margin-bottom: 0em; */
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:visited {
  color: #9125d0;
}

a:hover {
  text-decoration: none;
}

h1.title {
  font-size: 3.5em;
}


/* Funky Styles */
.bumble {
  background: #FFF000;
  padding: 1px 4px 1px 3px;
  color: #333333;
}

.post-meta a {
  font-weight: 500;
  color: inherit;
}
/* ---------------------------------- */
/* Layout
/* ---------------------------------- */

.post-header {
  padding-top: 20px;
  /* padding-bottom: 5px; */
  /* border-bottom: solid 1px #e2e2e2; */
}

.post-content {
  padding-bottom: 20px;
}

.post-footer {
  padding-top: 20px;
  /* border-top: solid 1px #cccccc; */
}


/* ---------------------------------- */
/*                List                */
/* ---------------------------------- */

.post-list > li {
  margin-bottom: 30px;
}

.post-list > li h3 {
  margin-top: -6px;
}


.post-list > li a span {
  color: #333333;
  padding: 1px 0px 1px 0px;
}

.post-list > li a span:hover{
  background: #FFF000;
}

.post-list > li h6 {
  margin-bottom: 0px;
}

.video {
  margin-bottom:20px;
}



/* Definition */
.home-page {
  padding-top: 30px;
}
.home-page h1 {
  font-size: 30px;
  letter-spacing: 0.02em;
  margin: 0px;
}
.home-page h4 {
  font-weight: 200;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
}
.home-page p {
  font-family: "Georgia";
}

/* .home-page a {
    border-bottom: 1px solid #FFCD00;
    color: #000000;
    padding-bottom: .1em;
    text-decoration: none;
    font-size: 1.05em;
    letter-spacing: 0.02em;
    transition: 0.3s;
} */
