// Variables
$font: Times New Roman;

$black: #313131;
$yellow: #ebef1a;

// Mixins

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0, 0, 0, 0.4)) {
  text-shadow: $x $y $blur $color;
}

@mixin text {
  font-family: $font;
  color: $black;
  // font-size: 1.04em;
  // line-height: 1.1em;
  // letter-spacing: 0.01em;
}

@mixin nav-title {
  @include text-shadow(2px, 3px, 2px, rgba(0, 0, 0, 0.6));
  font-family: Arial;
  font-weight: 600;
  font-style: italic;
  color: #ebef1a;
  font-size: 32px;
  text-decoration: none;
}

@mixin nav-title-sub {
  font-family: Arial;
  font-weight: 100;
  font-size: 19px;
  margin-left: 19px;
  text-decoration: none;
  color: white;
  @include text-shadow(1px, 2px, 1px, rgba(0, 0, 0, 0.6));
}
