:not(:defined) > * {
    display: none;
}

*:focus {outline:0;}


* {
    box-sizing: border-box;
}

/* background-color: #2F3135; dark gray */
/* light grey #B9BBBD */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #36393e;
    overflow: hidden;
}

.zapper {
	z-index: 900;
	/* border: solid 10px red; */
	width: 100%;
    height: 120%;
    bottom: -13%;
	left: 0%;
    position: absolute;
	 transform: scale(0, 0);
	 -webkit-animation-fill-mode: forwards;
	 animation-fill-mode: forwards; /* Add this so that your modal doesn't 
								   close after the animation completes */
}

.zapper.loaded {
	animation: bummer 500ms 200ms ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards; /* Add this so that your modal doesn't 
								  close after the animation completes */
}

/* model-viewer {
    width: 100%;
    height: 100%;
} */

@keyframes bummer {
    0% {
        transform: scale(3,3);
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1);
    }
}


.loading-container {
	width: 100%;
    height: 50px;
    bottom: 10%;
	text-align: center;
    position: absolute;
    color: rgba(255, 255, 255, 0.62);
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.loading-container.hide {
	visibility: hidden;
}

#Loading {
	transition: 400ms 200ms all;
	opacity: 1;
}
#Loading.loaded {
	opacity: 0;
}

.btn-container {
	z-index: 901;
    width: 100%;
    height: 20%;
    bottom: -3%;
    position: absolute;
    /* border: solid 5px red; */
    padding: 0 2rem;
}
.btn-container.hide {
	visibility: hidden;
}
.btn {
    background-color: #576aea;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    border: none;
}

.forging-container {
	width: 100%;
    height: 20%;
    top:45%;
    position: absolute;
    /* border: solid 5px red; */
    padding: 0 2rem;
}
.forging-container.hide {
	visibility: hidden;
}

.progress-bar {
    display: block;
    width: 50%;
    height: 20%;
    max-height: 20%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5),
        0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

.spotlight.hide {
    visibility: hidden;
}

.update-bar {
    background-color: #576aea;
    width: 20%;
    height: 100%;
    border-radius: 15px;
    float: left;
    transition: width 5s;
}
.update-bar.loaded {
	width: 100%;;
}


.spotlight-container {
	width: 100%;
    height: 80%;
    top: 0%;
    position: absolute;
    padding: 0;
}

.spotlight {
	width: 100%;
	height: 100%;
}