.category {
  padding: $site-padding;

  header {
    padding-bottom: 10px;
    h1.title {
      color: $blue;
      font-family: $pattern-font;
      font-size: 70px;
      letter-spacing: 0.1em;
      margin: 0;
    }
  }
  a {
    text-decoration: underline;
  }
}
