// ------------------------------------------------
//  That's a button
// ------------------------------------------------

$grey-color: #c2c3c0;
$button-color: lighten($grey-color, 2%);
$button-color-pressed: lighten($grey-color, 5%);
$grey-dark-color: #827d82;
$border-dark-color: black;
$border-light-color: #fffffe;
$black-color: #000303;
$transparent-black-color: rgba(0, 0, 0, 0.1);
$transparent-white-color: rgba(255, 255, 255, 0.8);

$border-dark: solid 4px #333;
$border-light: solid 2px #fffffe;

@mixin raised-button($bg-color: #ddd, $border-width: 2px) {
    background-color: $bg-color;

    $width: $border-width;
    $color: lighten($bg-color, 20%);

    border-top: outset $width $color;
    border-left: outset $width $color;

    $width: $border-width + 1;
    $color: darken($bg-color, 20%);

    border-right: outset $width $color;
    border-bottom: outset $width $color;
}

@mixin pressed-button($bg-color: #ddd, $border-width: 2px) {
    background-color: $bg-color;

    $width: $border-width;
    $color: lighten($bg-color, 20%);

    border-right: inset $width $color;
    border-bottom: inset $width $color;

    $width: $border-width + 1;
    $color: darken($bg-color, 20%);

    border-top: inset $width $color;
    border-left: inset $width $color;
}

// -------- Shared Classes --------

.raised--button {
    @include raised-button();
}

.pressed--button {
    @include pressed-button();
}

.emoji--button {
    width: 50px;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: $button-color !important;
    cursor: pointer;

    // @extend .raised;

    &:active,
    &:focus {
        // @extend .pressed;
    }
    &:hover {
        text-shadow: $transparent-black-color 0px 0px 25px;
    }
    &:visited {
        color: darken($button-color, 5%) !important;
    }

    > span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.bubble--button {
    padding: 0px 4px;
    font-family: monospace;
    cursor: pointer;

    // @extend .raised--button;

    &:disabled {
        cursor: default;
    }
    &:focus {
        // @extend .pressed--button;
    }
    &:active {
        // @extend .pressed--button;
    }
    &:hover {
        text-shadow: $transparent-black-color 0px 0px 25px;
    }
}

button.retro {
    @extend .bubble--button;
}

a.link--button {
    background-color: lighten($silver, 3%);
    text-decoration: none;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0em;
    font: 400 14px Inconsolata;
    line-height: 1.5em;
    padding: 1px 8px 0px 8px;
    letter-spacing: 0.04em;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));

    &:visited {
        color: $black;
        border-top-color: lighten($silver, 15%);
        border-bottom-color: lighten($silver, 16%);

        border-left-color: lighten($silver, 15%);
        border-right-color: lighten($silver, 16%);

        border-style: outset;
    }
}
