.embeded.media {
	padding: 12px;
	background-color: lighten($silver, 6%);
	border: 12px outset;

	&.photo {
		position: relative;
		img {
			box-shadow: 0 0 11px 8px #ffffff94;
			border: solid 2px white;
			display: block;
		}
		.caption {
			font-family: monospace;
			position: absolute;
			right: 20px;
			bottom: 20px;
			color: white;
			font-size: 0.7em;
			text-shadow: 0 -2px 3px rgba(255, 255, 255, 0.637);
		}

		&.lobster {
			img {
				box-shadow: 0 0 11px 8px #ffffffd3;
				border: solid 5px white;
			}
			.caption {
				color: black;
			}
	
		}
	}
	
	
}