.fancy--link--lifted {
    transform: scale(1.0);
    .text {
        text-decoration: underline;
    }
}

.fancy--link {
    // display: inline-block;
    transition: all 200ms ease-out;
    font-family: Verdana;
    transform: scale(1.0);
    @include fluid-type(20px, 24px);


    &:hover {
        @extend .fancy--link--lifted;

        a {
            text-decoration: none !important;
        }
    }
}

