@mixin pretty-box-shadow($shadow-name: 'default') {
    @if $shadow-name == 'material' {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    @if $shadow-name == 'photo-blog' {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: solid 3px #eeeeee;
    }

    // Add more!
    // https://getcssscan.com/css-box-shadow-examples
}

.photo-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 3px #eeeeee;
}

.material-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: solid 1px #a9a9a9;
}

/* Shadow Stuff */



.box-shadow-1 {
	width: 50px;
	height: 50px;
	box-shadow: 0.5px 1px 1px rgba(100, 100, 100, 0.611)
}
.box-shadow-2 {
	border: solid 1px #fff;
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgba(100, 100, 100, 0.11), 32px 6px 10px rgba(211, 209, 209, 0.81),
		3px 6px 6px rgba(255, 255, 255, 0.61);
}
.ghost-shadow {
	width: 150px;
	height: 150px;
	box-shadow: 1px 2px 2px hsl(220deg, 60%, 50% / 0.2), 2px 4px 4px hsl(220deg, 60%, 50% / 0.2),
		4px 8px 8px hsl(220deg, 60%, 50% / 0.2), 8px 16px 16px hsl(220deg, 60%, 50% / 0.2),
		16px 32px 32px hsl(220deg, 60%, 50% / 0.2);
}
