@mixin superHero {
    text-shadow: -10px 10px 0px #00e6e6, -20px 20px 0px #01cccc,
        -30px 30px 0px #00bdbd;
}

@mixin heavyTextShadow {
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
        0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

@mixin simple-text-border($c: #fff, $unit: 1px) {
    // $unit:
    text-shadow: 0 $unit 0px $c, 0 -#{$unit} 0px $c, $unit 0 0px $c,
        -#{$unit} 0 0px $c, -#{$unit} -#{$unit} 0px $c, #{$unit} -#{$unit} 0px $c,-#{$unit} #{$unit} 0px $c,#{$unit} #{$unit} 0px $c;
}

.boobie {
    font-family: $bungee;
    color: rgb(255, 230, 0);
    text-shadow: 0 0 14px #0400ff, 0 0 10px #0400ff, 0 0 4px #0400ff;
}

.lens-title {
    font-family: $pressstart;

    $base: 4rem;

    font-size: $base;

    color: $white;

    @include simple-text-border($black, 0.3rem);
}
