:root {
    --arrow-size: 10px;
    --color: rgb(59, 59, 59);
}

.caret {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: var(--color);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip-base {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    padding: 0.25rem;
    background: var(--color);
    color: white;
    border-radius: 5px;
    text-align: center;
    display: block;
    &::before {
        @extend .caret;
    }
}
.tooltip-hidden {
    transition: opacity 400ms, top 200ms; // fade out
    opacity: 0;

    top: 15px;
    font-size: 14px;
    width: 100px;
}
.tooltip-visible {
    transition: opacity 400ms, top 200ms; // fade in
    opacity: 1;

    top: calc(100% + var(--arrow-size) + 5px);
    font-size: 14px;
    width: 100px;
}

.tooltip.wrapper {
    display: inline-block;
    position: relative;
}
.tooltip.wrapper {
    .tooltip.content {
        @extend .tooltip-base;
        @extend .tooltip-hidden;
    }

    &:hover {
        .tooltip.content {
            @extend .tooltip-visible;
        }
    }
}
