
<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->


<head>
  
    <title>{{  page.title }}</title>
    <link rel="icon" type="image/png" href="/assets/paulie/images/fav.png" />
    
    {%- include google-analytics.html -%} 
    {%- feed_meta -%}

	<!-- Meta Craps -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="vt" content="width=device-width" />

	<!-- Cascading Butt Sheets -->

	<link rel="stylesheet" href="/assets/css/paulie.css">


	<!-- Not My Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/Draggable.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
		crossorigin="anonymous"></script>


	<script>console.clear();</script>


</head>

<!-- BODY -->

<body>

    {{ content }}

	<div id="Paulie">
        {%- include paulie_faces.html -%}
    </div>

</body>

<script src="/assets/js/paulie.js?cache=3"></script>

</html>