---
layout: default
---

<div class="post">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <section itemprop="articleBody">
      <header>
        <!-- DATE -->
        <p class="post-meta">
          <time
            class="dt-published"
            datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished"
          >
            {%- assign date_format = site.minima.date_format | default: "%B %-d,
            %Y" -%}
            {{ page.date | date: date_format }}
          </time>
        </p>
        <!-- TITLE -->
        <h1 itemprop="name headline">
          <span class="bumble">{{ page.title | escape }}</span>
        </h1>
      </header>

      {{ content }}
    </section>
  </article>
</div>
