---
layout: default
---

<div class="post-long">
  <header class="post-header">
    <!-- DATE -->
    <div class="post-date">
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </p>
    </div>
    <!-- TITLE -->
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  {% if page.image %}
    <div class="preview-image">
      <img src="{{page.image}}" />
    </div>
    {% endif %}

  <article itemscope itemtype="http://schema.org/BlogPosting">
    <section>



    <div class="post-content e-content" itemprop="articleBody">

      {{ content }}
    </div>

    <!-- <div class="post-footer">
        <span>
            {% for tag in page.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;
            {% endfor %}
          </span>
    </div> -->
  </section>
  </article>
</div>
