---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

<div class="post text">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <section itemprop="articleBody">
      <header>
        <!-- TITLE -->
        <h1 itemprop="name headline" class="page-title">
          <span class="bumble">{{ page.title | escape }}</span>
        </h1>
      </header>

      <!-- CONTENT -->
      {{ content }}

      <!-- FOOTER -->
      <footer>
      <p class="post-meta">{{ page.date | date: date_format }}</p>
      </footer>
    </section>
  </article>
</div>
