---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

<div class="post">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <section itemprop="articleBody">
      <header>
        <!-- TITLE -->
        <h1 itemprop="name headline">
          <span class="bumble">{{ page.title | escape }}</span>
        </h1>
      </header>

      <!-- CONTENT -->
      {{ content }}

      <!-- FOOTER -->
      <footer>

      <p class="post-meta">
        <time
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {{ page.date | date: date_format }}
        </time>
      </p>
      <p>
          {% for tag in page.tags %} {% capture tag_name %}{{ tag }}{% endcapture
          %} {% if site.tag_pages contains tag_name %}
          <a href="/{{ tag_name }}">
            <span>#{{ tag_name }}</span>
          </a>
          {% else %}
          <span>#{{ tag_name }}</span>
          {% endif %} {% endfor %}
        </p>
      </footer>
    </section>
  </article>
</div>
