{% assign cachedz = site.time | date: '%M%S' %} {% assign a = page.name | split:
'.' %} {% assign page_name = a[0] %}

<!DOCTYPE html>
<html>
    {% assign cachedz = site.time | date: '%M%S' %}

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Favicon -->
        <link
            rel="icon"
            type="image/png"
            href="/assets/icons/{{ page.favicon }}"
        />

        <!-- Title -->
        <title>{{ page.title }}</title>
        <meta
            property="og:title"
            content="{{ page.og.title | default: page.title }}"
        />
        <meta
            name="twitter:title"
            content="{{ page.twitter.title | default: page.title }}"
        />

        <!-- Description -->
        <meta name="description" content="{{ page.description }}" />
        <meta
            property="og:description"
            content="{{ page.og.description | default: page.description }}"
        />
       

        <!-- Styles and Scripts -->

        <link
            rel="stylesheet"
            href="/assets/stylesheets/ar-gg.css?cachedz={{ cachedz }}"
        />
        <script
            type="module"
            src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"
        ></script>

		<script
            type="module"
            src="/assets/scripts/ar-gg.js?cachedz={{ cachedz }}"
        ></script>
    </head>
    </head>


    <body class="{{ page.layout }} {{ page_name }}">
        {{ content }}
    </body>
</html>
