---
layout: base
---

<header>

	<h1>Kevin!</h1>

	<span id="Kiss" style="position: absolute;left: 50px;top:20px;font-size:1.5em;">💋</span>


	<!-- <nav class="links">
		<p class="navigation links">
			[
			<a href="/new.html">What's New?</a> |
			<a href="/cool.html">What's Cool?</a> |
			<a href="/popular.html">What's Popular?</a>
			]
		</p>
	</nav> -->

	<nav class="buttons">
		<a target="_blank" href="https://www.instagram.com/kevando?utm_source=R2D2">Instagram</a>
		<a target="_blank" href="https://lensstudio.snapchat.com/creator/Mpx2Ow0xd7dWLQp62cK0Jg">Snapchat</a>
		<a target="_blank" href="https://twitter.com/kevando_?utm_source=R2D2">Twitter</a>
		<a target="_blank" href="https://github.com/kevando?utm_source=R2D2">Github</a>
		<a target="_blank" href="https://www.quora.com/profile/Kevando?utm_source=R2D2">Quora</a>
		<a target="_blank" href="https://www.youtube.com/user/kevinhabich/playlists?utm_source=R2D2">Youtube</a>
		<!-- <a id="EmailLink" href="javascript:void(0)">E-Mail</a> -->
	</nav>


</header>
<main>{{ content }}</main>
<footer>{%- include footer.html -%}</footer>



<script>
	// document.getElementById("EmailLink").addEventListener("click", function() {
	// 	if (confirm("Open your email client?") == true) {
	// 		window.open('mailto:khabich@gmail.com?&subject=Hi&body=I am on your website and there is something I need to tell you', '_self');
	// 	}
	// })

	function printMousePos(event) {
		console.log("clientX: " + event.clientX + " - clientY: " + event.clientY);
console.log(event)

		// Get the element
		var kiss = document.querySelector('#Kiss');

		// Create a copy of it
		var kissed = kiss.cloneNode(true);

		// Update the ID and add a class
		kissed.id = 'Kiss-' + Math.random();


		// Inject it into the DOM
		kiss.after(kissed);

		kissed.style.top = (event.layerY-20) + "px";
		kissed.style.left = (event.layerX-20) + "px";
	}


	document.addEventListener("DOMContentLoaded", function(event) {
		/* 
		  - Code to execute when only the HTML document is loaded.
		  - This doesn't wait for stylesheets, 
			images, and subframes to finish loading. 
		*/
		document.addEventListener("click", printMousePos);
	});



</script>