.sampler {
  padding: $content-margin;
  > * {
    font-size: 60px !important;
    line-height: 2em !important;
  }
  h1 {
    color: $yellow;
    font-family: $arvo-font;
  }
  h2 {
    color: $red;
    font-family: $work-font;
  }
  h3 {
    color: $orange;
    font-family: $shadow-font;
  }
  h4 {
    color: $dark-blue;
    font-family: $cursive-font;
  }
  h5 {
    color: $blue;
    font-family: $pattern-font;
  }
  p {
    color: $charcoal;
    font-family: $vapor-font;
  }
}
