body {
  // background: $white;

  .aol.home {
    @include flex(center, center, column);
    height: 100vh;
    width: 100%;

    .boxes {
      @include flex();
      height: 400px;
      width: 100%;

      .box {
        @include flex(center, stretch);
        padding: 10px;
        box-shadow: #000000ad 4px 4px 6px -2px;
        border: solid 1px #e6e6e6;
        border-radius: 1px;
        width: 300px;
        height: 200px;

        .content {
          @include flex();
          flex-grow: 1;

          a {
            @include flex();
            border-color: $blue;
            border-style: solid;
            border-width: 7px;

            background: $purple;
            width: 100%;
            height: 100%;

            border-width: 7px;

            &:hover {
              img {
                margin-left: -10px;
              }
            }

            
            &:focus {
              img {
                margin-left: 150px;
                opacity: 0;
                @include transition(all 0.2s 0s);
              }
            }

            img {
              width: 100px;
              @include transition(margin-left 0.5s 0s);
            }
          }
        }
      }
    }
  }
}
