header {
	padding: 0rem 1rem;

	nav.links {
		p {
			word-spacing: 2px;
			a {
				word-spacing: 0px;
			}
		}
	}
	nav.buttons {
		button {
			width: 70px;
			padding: 0;
			white-space: nowrap;
		}
	}
}
