// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin flex($j: center, $a: center, $d: row) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


// ---------------------------
//         Animations
// ---------------------------

@mixin slide-in-from-left($duration: 1s, $delay: 0s) {
  transform: translateX(-200%);
  animation: $duration ease-in $delay 1 slideInFromLeft;
  animation-fill-mode: forwards;

}

// @mixin animation($args...) {
//   animation-duration: 1s; /* the duration of the animation */
//   animation-timing-function: ease-out; /* how the animation will behave */
//   animation-delay: 0s; /* how long to delay the animation from starting */
//   animation-iteration-count: 1; /* how many times the animation will play */
//   animation-name: slideInFromLeft; /* the name of the animation we defined above */
// }




// ---------------------------
//         Text
// ---------------------------

@mixin link-size {
  // font-size: 15px; //maxx(2px,10vw)
  font-size: calc(1vw + 1vh + 0.5vmin);
}

@mixin meta {
  font-family: $work-font;
  font-size: 12px;
  color: $meta-gray;
  font-weight: 200;
}

@mixin cursive {
  font-family: $cursive-font;
}

@mixin serif {
  font-family: $arvo-font;
}

@mixin sans-serif {
  font-family: $work-font;
  color: $charcoal;
  font-weight: 200;
}

// AOL-style box

@mixin aol-outer-box {
  box-shadow: #000000ad 4px 4px 6px -2px;
  border: solid 1px #e6e6e6;
  border-radius: 1px;
  padding: 10px;
}

@mixin aol-inner-box($bg: $purple, $bw: 7px) {
  border-color: $blue;
  border-style: solid;
  border-width: $bw;
  background: $bg;
}

