.category {
  // background: yellow;
  article {
    // background: green;
    @include flex(center, center, column);
    width: 100%;
    margin-top: 0px;
    section {
      @include flex(flex-start, flex-start, column);
      padding: 20px 20px 20px 20px;
      background: white;
      max-width: 700px;
      border: solid 1px #ccc;
      border-radius: 5px;
      box-shadow: 3px 4px 15px 1px #69696952;
      margin-bottom: 40px;
      width: 70vw;
      min-width: 350px;

      header {
        h1 {
          font-size: 1.6em;
          margin: 5px 0 0px 0;

          a {
            &:hover > h1 {
              color: red;
            }
          }
        }
        p.date {
          font-family: $work-font;
          font-weight: 300;
          font-size: 16px;
          color: #8e8e8e;
        }
      }
      summary {
        p {
          margin-top: 10px;
          font-size: 16px;
          font-weight: 100;
          color: #656565;
          line-height: 1.4em;
        }
      }
      p.tags {
        font-family: $work-font;
        font-weight: 300;
        font-size: 13px;
        color: $dark-blue;
        margin-top: 5px;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
