header.navigation {
  @include flex(space-between, inherit);
  height: $nav-height;
  border-bottom: solid 2px $charcoal;

  .logo {
    border-bottom-width: 0px;
    width: 50px;
    height: 41px;
    img {
      width: 75%;
    }
  }

  .left {
    @include flex(space-between, flex-end);
    margin-left: $site-padding;
  }
  .right {
    @include flex(center, center);
    margin-right: $site-padding;
    padding-top: $link-border-size;
  }

  nav a {
    @include serif;
    margin: 0 20px;
    color: $charcoal;
    border-bottom-width: 0.3em;
    border-bottom-style: solid;
    border-bottom-color: $purple;
    &.active, &:hover {
      border-bottom-color: white;
      text-decoration: none;
    }
  }
}
